html {
  font-family: 'Nunito', sans-serif;
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
}
.wrapper {
  height: auto;
  min-height: 100%;
  overflow: hidden;
  
}

i#fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.side-menu {
  //min-width: 250px;
  width: 250px;
  float: left;
  background: #292929;
  height: auto;
  min-height: 100%;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px; 
}
.topmenu{
  height: 45px;
  padding: 10px 0px 0px 10px;
  background: #fff;
  color: #e1e2fa;
}
.logo {
  background: #292929;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0px 0px 10px;
  height: 45px;
}
.main-section {
  height: 100%;
}
a {
  text-decoration: none;
  color: #e1e2fa;
}
.menu ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 10px;
}
.menu ul li a {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-left: -5px;
  padding-left: 10px;
}
.menu ul li a:hover {
  background: #0ac391;
  border-left: solid 5px #32A082;
  margin-left: -10px;
  width: 98%;
}
.menu ul li ul {
  padding-left:0px; 
}
#showmenu {
  font-size: 18px;
  display: inline-block;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
  float: left;
  //border-right: solid 1px #000;
  color : black;
}
.main-section{
  background: #f5f5f6;
  height:100%;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  margin-left: 250px;
}
.search {
  width: 340px;
  float: right;
  margin-top:3px;
  margin-left: 25px;
  padding-left: 10px;
  // background: #5c66cd;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  color: #8089e8;
}
input.src {
  background: none;
  border: none;
  width: 300px;
  font-family: 'Nunito', sans-serif;
  color: #8089e8;
  font-size: 13px;
  font-weight: 600;
  
}
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Nunito', sans-serif;
  color: #6a6b6c;
  font-size: 13px;
  font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Nunito', sans-serif;
  color: #6a6b6c;
  font-size: 13px;
  font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Nunito', sans-serif;
  color: #6a6b6c;
  font-size: 13px;
  font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Nunito', sans-serif;
  color: #6a6b6c;
  font-size: 13px;
  font-weight: 600;
}
.card {
  margin: 25px;
  padding: 15px;
  width: 95%;
  height : 100%;
  background: #fff;
  box-shadow: 0 6px 20px 0px #dce8f4;
}
.card-content {
  color: #32325d;
  font-weight: 600;
  font-size: 18px;
  margin :3%;
  
}
.author {
  color: #999999;
  font-size: 36px;
  margin-top: 20px;
  
}
.status-green {
  width: 30px;
  height: 8px;
  border-radius: 10px;
  background: #23d2ac;
  margin-bottom: 15px; 
}
.status-blue {
  width: 30px;
  height: 8px;
  border-radius: 10px;
  background: #33adff;
  margin-bottom: 15px; 
}
.status-red {
  width: 30px;
  height: 8px;
  border-radius: 10px;
  background: red;
  margin-bottom: 15px; 
}
.section-title {
  margin-left: 28px;
  margin-top: 10px;
  font-size: 24px;
  color: #0ab7d7;
  font-family: CiscoSansTT Thin,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.33333;
  line-height: 1.33334;
  padding-top :2%;
}

select#dtree {
	width : 30%;
	padding : 5px;
	margin : 5px;
	border-radius: 5px;
	font-size: 13px;
    font-family: CiscoSansTT Thin,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #6a6b6c;
    outline: none;
    width: 28rem;
    background: transparent;
}

input#dtree {
	padding : 9px;
	margin : 5px;
	font-size: 13px;
	font-weight: bold;
    font-family: CiscoSansTT Thin,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #6a6b6c;
    outline: none;
    width: 29.5%;
    background: transparent;
	border-radius: 5px;
	margin-left : 3%;
}

button#dtree {
width : 4%;
-webkit-appearance: none;
-moz-appearance: none;
color: #fff;
cursor: pointer;
background-color: #0ac391;
font-family: CiscoSansTT Light,Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: 400;
margin: 0;
border-radius: 20px;
text-align: center;
text-decoration: none;
border: none;
display: inline-block;
font-size:  13px;
line-height: .8125rem;
padding: .8125rem 1rem .625rem;
min-width: 4.5rem;
-webkit-transition: background-color .15s ease;
transition: background-color .15s ease;
margin-left: 2%;
}

a#logout {
	cursor: pointer;
    float: right;
    margin-top: -10px;
    padding: 22px;
    border: none;
    background-color: #292929;
    color: white;
    font-weight: 600;
    display: inline-block;
	border-radius: 15px 0px 0px 15px;
	
}

select {
    padding: 9px;
    margin: 13px;
    font-size: 13px;
	font-weight: bold;
    font-family: CiscoSansTT Thin,Helvetica Neue,Helvetica,Arial,sans-serif;
    
    outline: none;
    width: 29.5%;
    background: transparent;
    border-radius: 5px;

}


select :checked {
   color: red;
}

select option {
		color: #004AAE;
		font-size: 13px;
		font-weight: bold;
}



option:hover {
   color: red;
}

a.prdmenu {
	color: #c2c2c2;
    font-family: CiscoSansTT Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.25rem;
    margin: 0.2% 1% 0% 1%;
    padding-bottom: 1.0625rem;
    padding-right: 0;
    border-bottom: 3px solid transparent;
	float : right;
	background : none;
}

a.prdmenu:hover {
    border-bottom-color: #6CC04A;
    color: #6CC04A;
    padding-bottom: 1.0625rem;
}

a.headh {
    color: #00d6a2;
    font-size: 2.25rem;
    line-height: 1;
}

img.vlogo {
    width: 50%;
    margin-left: 19%;
    margin-top: 2%;
}